PORT=5000
MONGO_URI=mongodb+srv://nodejs:nodejs123@cluster0.yzgiwmo.mongodb.net/nodejs?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
IMAGEKIT_PUBLIC_KEY=public_ZHqexYMPigsbxLFFXZ/pXPilL9s=
IMAGEKIT_PRIVATE_KEY=private_ioo+SSudSdvoWoipI221WYkGxUY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/rkxdc7cgwu
